@tailwind base;

@tailwind components;

@tailwind utilities;
//================================================================================================================================================================
//Fonts
//================================================================================================================================================================
@font-face {
  font-family: Freight;
  src: url("../fonts/Freight/Freight.otf");
}
@font-face {
  font-family: Kashima;
  src: url("../fonts/Kashima/Kashima\ Demo.otf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
//================================================================================================================================================================


//Animations
.spin {
  animation: ring 45s linear infinite;
}
.in-left {
  animation: fadeInLeft 1.5s 0.3s both;
}
.in-left-next {
  animation: fadeInLeft 1.5s 1s both;
}
.in-right {
  animation: fadeInRight 1.5s 0.3s both;
}
.in-up {
  animation: fadeInUp 1.5s 0.3s both;
}


.under {
  position: relative;
  display: inline-block;
}
.under::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e4d1bf;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}
.under:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
<<<<<<< HEAD
<<<<<<< HEAD
//================================================================================================================================================================

//Animations
.in-left {
  animation: fadeInLeft 1.5s 0.3s both;
}
.in-left-next {
  animation: fadeInLeft 1.5s 0.8s both;
}
.in-right {
  animation: fadeInRight 1.5s 0.3s both;
}
.in-right-next {
  animation: fadeInRight 1.5s 0.8s both;
}
.in-up {
  animation: fadeInUp 1.5s 0.3s both;
}
.spin {
  animation: 60s linear 0s normal none infinite running spin;
}


//================================================================================================================================================================
//Animations
//================================================================================================================================================================
.spin {
  animation: ring 45s linear infinite;
}
@keyframes ring {
  100% {
    transform: rotate(360deg);
  }
}
//================================================================================================================================================================
.base-in-left {
  animation: fadeInLeft 1.5s 0.3s both;
}
.base-in-left-next {
  animation: fadeInLeft 1.5s 1s both;
}
.anim.in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1.8s;
}
.anim.in-left.active {
  opacity: 1;
  transform: translateX(0px);
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
//================================================================================================================================================================
.base-in-right {
  animation: fadeInRight 1.5s 0.3s both;
}
.anim.in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1.8s;
}
.anim.in-right.active {
  opacity: 1;
  transform: translateX(0px);
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
//================================================================================================================================================================
.base-in-up {
  animation: fadeInUp 1.5s 0.3s both;
}
.anim.in-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.8s;
}
.in-up.active {
  opacity: 1;
  transform: translateY(0px);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
//================================================================================================================================================================

.floating {
  animation: float 8s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

//================================================================================================================================================================
