<<<<<<< HEAD
@import "aboutStyles/AboutSushi.scss";
@import "aboutStyles/AboutMiddle.scss";
@import "aboutStyles/AboutFooter.scss";

=======
>>>>>>> 435f7c3f6923ff6590c7a193aca1235242257578
@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: Freight;
  src: url("../fonts/Freight/Freight.otf");
}

.in-left {
  animation: fadeInLeft 1.5s 0.3s both;
}
.in-left-next {
  animation: fadeInLeft 1.5s 1s both;
}
.in-up {
  animation: fadeInUp 1.5s 0.3s both;
}
.under {
  position: relative;
  display: inline-block;
}
.under::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
<<<<<<< HEAD
  background-color: #e4d1bf;
=======
  background-color: #E4D1BF;
>>>>>>> 435f7c3f6923ff6590c7a193aca1235242257578
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}
.under:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
