.sushiSection {
  z-index: 100;
  height: 1000px;
}
@media (max-width: 1200px) {
  .sushiSection {
    display: none;
  }
}
.sushiSection .sushi_section_1 .sushi4 {
  position: absolute;
  top: 0;
  left: 320px;
}
.sushiSection .sushi_section_1 .sushi4 {
  animation: imgRotate 60s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}
.sushiSection .sushi_section_1 .sushi5 {
  position: absolute;
  top: 190px;
  left: 150px;
}
.sushiSection .sushi_section_1 .sushi5 {
  animation: imgRotate 60s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}
.sushiSection .sushi_section_1 .sushi6 {
  position: absolute;
  top: 350px;
  left: 0px;
}
.sushiSection .sushi_section_1 .sushi6 {
  animation: imgRotate 60s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}
.sushiSection .sushi_section_2 .sushi1 {
  position: absolute;
  top: 190px;
  right: 20px;
}
.sushiSection .sushi_section_2 .sushi1 {
  animation: imgRotate 60s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}
.sushiSection .sushi_section_2 .sushi2 {
  position: absolute;
  top: 400px;
  right: 160px;
}
.sushiSection .sushi_section_2 .sushi2 {
  animation: imgRotate 60s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}
.sushiSection .sushi_section_2 .sushi3 {
  position: absolute;
  top: 600px;
  right: 350px;
}
.sushiSection .sushi_section_2 .sushi3 {
  animation: imgRotate 60s linear infinite;
}
@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .aboutTitle {
    height: 485px;
  }
}
@media (min-width: 1200px) {
  .aboutTitle .container .img {
    position: absolute;
    right: -120px;
    top: -220px;
  }
}
.aboutTitle .container p span {
  color: #ddd6cc;
}
.aboutTitle .container p h1 {
  font-size: 70px;
  color: #ddd6cc;
}

.container-fluid {
  background-color: #031013;
  height: 500px;
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Freight;
  src: url("../fonts/Freight/Freight.otf");
}
@font-face {
  font-family: Kashima;
  src: url("../fonts/Kashima/Kashima Demo.otf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
.spin {
  animation: ring 45s linear infinite;
}

.in-left {
  animation: fadeInLeft 1.5s 0.3s both;
}

.in-left-next {
  animation: fadeInLeft 1.5s 1s both;
}

.in-right {
  animation: fadeInRight 1.5s 0.3s both;
}

.in-up {
  animation: fadeInUp 1.5s 0.3s both;
}

.under {
  position: relative;
  display: inline-block;
}

.under::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e4d1bf;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}

.under:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes ring {
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=Home.css.map */